@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to quick Azure Self Service portal</h1>
        <p>azure var @Configuration["azure:appInsightsKey"] </p>
    </div>
</div>
